<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <link href='https://fonts.googleapis.com/css?family=Chivo:900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/pygment_trac.css" media="screen" />
    <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <title>Gaunt by tkjaergaard</title>
  </head>

  <body>
    <div id="container">
      <div class="inner">

        <header>
          <h1>Gaunt</h1>
          <h2>Simple template engine for Wordpress based on Laravel 4 Blade</h2>
        </header>

        <section id="downloads" class="clearfix">
          <a href="https://github.com/tkjaergaard/gaunt/zipball/master" id="download-zip" class="button"><span>Download .zip</span></a>
          <a href="https://github.com/tkjaergaard/gaunt/tarball/master" id="download-tar-gz" class="button"><span>Download .tar.gz</span></a>
          <a href="https://github.com/tkjaergaard/gaunt" id="view-on-github" class="button"><span>View on GitHub</span></a>
        </section>

        <hr>

        <section id="main_content">
          <h3>What is Gaunt?</h3>

<p>Gaunt is the simplest template engine written for Wordpress. The engine is heavily inspired and based upon Laravel 4 Blade. Gaunt is not nearly as heavy and feature-rich as dedicated template engines such as Smarty and Twig. But it helps you simplify your theme pages quite a lot.</p>

<h3>Installation</h3>

<p>Gaunt is installable through <a href="https://packagist.org/packages/gaunt/gaunt">Composer</a>.</p>

<pre><code>"require" : {
     "gaunt/gaunt":"1.0.*"
}
</code></pre>

<p>Require "vendor/autoload.php" in your functions.php or plugin.php</p>

<pre><code>require("vendor/autoload.php");
</code></pre>

<h3>Docs</h3>

<h4>The loop</h4>

<pre><code>@startloop
    \`\`the_title();\`\`
    \`\`the_contnet();\`\`
@endloop


@startloop
    \`\`the_title();\`\`
    \`\`the_contnet();\`\`
@noposts
    &lt;p&gt;No posts yet, sorry..&lt;/p&gt;
@endloop
</code></pre>

<h4>Code blocks</h4>

<p>Code blocks is equal to &lt;?php ?&gt;</p>

<pre><code>    \'\'
         $foo = "bar";
         $bar = ["a","b","c"];
    \'\'
</code></pre>

<h4>Echoing data</h4>

<pre><code>Hello, {{ $user }}.

Hello, {{ $user.name }} // $user['name'];

Hello, {{ $user-&gt;name }}

The current UNIX timestamp is {{ time() }}.
</code></pre>

<h4>If statements</h4>

<pre><code>@if (count($posts) === 1)
    I have one post!
@elseif (count($posts) &gt; 1)
    I have multiple posts!
@else
    I don't have any posts!
@endif
</code></pre>

<h4>Loops</h4>

<pre><code>@for ($i = 0; $i &lt; 10; $i++)
    The current value is {{ $i }}
@endfor

@foreach ($posts as $post)
    &lt;p&gt;The title of this post is: {{ $post-&gt;post_title }}&lt;/p&gt;
@endforeach

@while (true)
    &lt;p&gt;I'm looping forever.&lt;/p&gt;
@endwhile
</code></pre>

<h4>Including sub-views</h4>

<pre><code>@include('view.php')

&lt;?php get_header();?&gt;
&lt;?php get_footer();?&gt;
&lt;?php get_sidebar();?&gt;
</code></pre>

<h4>Comments</h4>

<pre><code>{{-- This comment will not be in the rendered HTML --}}
</code></pre>

<h3>Examples</h3>

<pre><code>&lt;!doctype html&gt;
&lt;html lang="en"&gt;
&lt;head&gt;
    &lt;title&gt;Page Title&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;

    @include('header.php')

    @startloop
        ``the_title();``
        ``the_content();``
    @noposts
        &lt;p&gt;Sorry no posts here..&lt;/p&gt;
    @endloop

    @include('footer.php')

&lt;/body&gt;
&lt;/html&gt;
</code></pre>
        </section>

        <footer>
          Gaunt is maintained by <a href="https://github.com/tkjaergaard">tkjaergaard</a><br>
          This page was generated by <a href="http://pages.github.com">GitHub Pages</a>. Tactile theme by <a href="http://twitter.com/jasonlong">Jason Long</a>.
        </footer>

        
      </div>
    </div>
  </body>
</html>